{include file='/public/X_admin/x_admin_head'}
<div class="layui-fluid">
    <form class="layui-form layui-form-pane" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">标识码</label>
            <div class="layui-input-block">
                <input type="text" name="id" required lay-verify="required" value="{$tab.id|default=" 若显示非数字，请不要编辑！"}"
                autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">项目名称</label>
            <div class="layui-input-block">
                <input type="text" name="item" required lay-verify="required" placeholder="请输入要跟进项目名称！"
                       autocomplete="off" class="layui-input" value="{$tab.item}">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">核查方法</label>
            <div class="layui-input-block">
                {include file="public/ueditor" /}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">核查周期</label>
            <div class="layui-input-block">
                <select name="cycle" lay-verify="required" lay-search="">
                    <option value="">请选择核查周期</option>
                    {volist name='cat' id='nn'}
                    <option value="{$nn.name}"{if $tab.cycle ==$nn.name }selected{/if}>{$nn.name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">参与人员</label>
            <div class="layui-input-block">
                <select name="liable" lay-verify="required" lay-search="">
                    <option value="">请直接选择贡献人或搜索选择</option>
                    {volist name='user_name' id='nn'}
                    <option value="{$nn.name}" {if $nn.name == $tab.liable}selected{/if}>{$nn.name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">贡献人</label>
            <div class="layui-input-block">
                <select name="user_name" lay-verify="required" lay-search="">
                    <option value="">请直接选择贡献人或搜索选择</option>
                    {volist name='user_name' id='nn'}
                    <option value="{$nn.name}" {if $nn.name == $tab.user_name}selected{/if}>{$nn.name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="layui-form-item">

            <button class="layui-btn layui-btn-fluid layui-btn-radius" lay-submit lay-filter="formDemo">立即提交</button>

        </div>
    </form>
</div>
<script>
    //Demo
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;
        form.on('submit(formDemo)', function () {
            $.ajax({
                type: 'POST',
                url: '{$urlAdd}',
                data: $('form').serialize(),
                success: function (code) {
                    if (code === 1) {
                        layer.alert("更新失败");
                    } else {
                        layer.alert("更新成功", {
                                icon: 6
                            },
                            function () {
                                //关闭当前frame
                                xadmin.close();
                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });
                    }
                },
                error: function () {
                    layer.alert('Ajax请求失败！请联系管理员检查');
                },
                dataType: 'json'
            });
            return false;
        });
    });
</script>
{include file='/public/X_admin/x_admin_foot'}
