<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{$title|default='欢迎使用YYB.IO系统'}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <link rel="stylesheet" href="/static/X_admin/css/font.css">
    <link rel="stylesheet" href="/static/X_admin/css/xadmin.css">
    <script type="text/javascript" src="/static/X_admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/X_admin/js/xadmin.js"></script>
</head>

<body>